.container_crear_producto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 55px); /* Altura mínima de la columna_2 */
    max-height: calc(100vh - 55px);
    margin-top: -5px;
    margin-bottom: 0; /* Ajusta la altura según tus necesidades */
}

.container_crear_producto form {
    width: 400px; /* Ajusta el ancho del formulario según tus necesidades */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.container_crear_producto label {
    display: block;
    margin-bottom: 10px;
}

.container_crear_producto input,
.container_crear_producto select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

.container_crear_producto button {
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
}

.container_crear_producto button:hover {
    background-color: #45a049;
}
