
.factura-container {
    width: 80%;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
}

.productos ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.productos ul li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    font-size: 18px;
}

.productos ul li:last-child {
    border-bottom: none;
}

.total p {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    margin-top: 10px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 10px 2px;
    transition-duration: 0.4s;
}

button:hover {
    background-color: #45a049;
    color: white;
}
