/* Estilos generales */
.container_stock {
    width: 100%;
    display: flex; /* Altura mínima de la columna_2 */
}

/*BUSCADOR Y CATEGORIZADOR*/
.columna_1 {
    /*background-color: aqua;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 23%;
    min-height: calc(100vh - 55px);
    border-right: 3px solid #ababab;
    /* Ocupa el 30% del espacio disponible, pero no puede crecer ni encogerse */
}

.content_col1{
    padding: 10px;
}

.search {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

input[type="text"] {
    border: 1px solid #ccc;
    /* Borde del campo de entrada */
    border-radius: 5px;
    /* Bordes redondeados */
    outline: none;
    /* Elimina el contorno al enfocar */
}

#filter {
    border: none;
    /* Sin borde */
    background-color: #383939;
    /* Color de fondo del botón */
    color: #fff;
    /* Color del texto del botón */
    border-radius: 3px;
    /* Bordes redondeados */
    cursor: pointer;
    /* Cambia el cursor al pasar por encima */
}

#filter:hover {
    background-color: rgb(173, 173, 173);
    color: #383939;
    /* Color de fondo del botón al pasar por encima */
}

.title {
    text-align: center;
    font-size: medium;
}

.category-item {
    margin-bottom: 20px;
    /* Espacio entre categorías */
}

.category-button {
    border: 1px solid #ccc;
    /* Borde del botón */
    background-color: #f0f0f0;
    /* Color de fondo del botón */
    padding: 10px;
    /* Espaciado interno */
    border-radius: 5px;
    /* Bordes redondeados */
    cursor: pointer;
    /* Cambia el cursor al pasar por encima */
    margin-right: 10px;
    /* Espacio a la derecha del botón */
    margin-bottom: 10px;
    /* Espacio debajo del botón */
}

.category-button:hover {
    background-color: #e0e0e0;
    /* Color de fondo del botón al pasar por encima */
}

.product-count {
    color: #888;
    /* Color del contador de productos */
}

/*ACTUALIZAR PRODUCTOS*/

.columna_2{
    margin-top: 10px;
    width: 77%;
    min-height: calc(100vh - 80px); /* Altura mínima de la columna_2 */
    max-height: calc(100vh - 80px); /* Altura máxima de la columna_2 */
    overflow-y: auto;
}

.container-stock {
    width: 60%;
}

.header {
    padding: 5px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.title-stock{
    text-align: center;
}

.content {
    text-align: center;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.table-container {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.stock-table {
    width: 100%;
    border-collapse: collapse;
}

.stock-table th,
.stock-table td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

.stock-table th {
    background-color: #c3c3c3;
}

/* Estilos específicos para la columna del stock */
.cantidad-stock {
    width: 70px;
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/*FORMULARIO DE ACTUALIZACION*/
.product-form {
    display: flex; /* Utilizamos flexbox para alinear los elementos */
    justify-content: space-around; /* Centramos verticalmente los elementos */
}

.cantidad-stock {
    margin-right: 10px; /* Margen derecho para separar el input del botón */
}

.button-actualizar{
    color: #fff;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    text-decoration: none;
}