body {
    font-family: "Pacifico", cursive;
    font-style: normal;
    background-color: #f7f7f7;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('/img/istockphoto-1438530555-1024x1024-transformed.jpeg');
    background-size: cover; /* La imagen de fondo se escalará adecuadamente para cubrir el espacio sin distorsiones */
    background-repeat: no-repeat; /* Evita la repetición de la imagen de fondo */
    background-position: center; /* La imagen se centrará horizontal y verticalmente */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 100vh; /* Asegura que el body tenga al menos la altura de la ventana del navegador */
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: inherit; /* Usa la misma imagen de fondo que el body */
    filter: blur(5px); /* Aplica un desenfoque de 5px a la capa pseudo */
    z-index: -1; /* Coloca la capa pseudo detrás del contenido del body */
}

.login-container {
    margin-top: 5%;
    margin-bottom: 5%;
}
.card-login {
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 0px #000000;
    background-color: #ffffff;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.centered{
    margin-bottom: 4%;
}

.centered h1{
    font-size: 60px;
    text-align: center;
    color:rgb(253, 253, 253);
}

input{
    font-family: sans-serif;
}