.notificacion_asistencia {
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 20px;
    max-width: 400px; /* Establece un ancho máximo para la notificación */
    margin: 0 auto; /* Centra la notificación horizontalmente */
    margin-top: 50px; /* Añade un margen superior */
}

.notificacion_asistencia p {
    margin: 5px 0;
    font-size: 25px;
}

.tipo_registro {
    font-style: italic;
    color: #888;
}
