body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
}

.read{
    width: 100%;
    min-height: calc(100vh - 55px); /* Altura mínima de la columna_2 */
    max-height: calc(100vh - 55px); /* Altura máxima de la columna_2 */
    overflow-y: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

/* Alert */
.alert-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background-color: #f44336;
    color: white;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 100%;
    border-radius: 9px;
}

.alert p{
    margin-bottom: -6px;
}

.closebtn {
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

/*Ventas*/

.venta{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f4f4f4;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

#sellForm {
    width: 300px; /* Ajusta el ancho del formulario según tu diseño */
}

form {
  margin: 20px 0;
}

form label {
  display: block;
  margin: 5px 0;
}

form input[type="text"],
form input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 5px;
}

.button-vender {
    background-color: #4CAF50;
    color: white;
    padding: 8px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    left: 225px;
}

.button-vender:hover {
  background-color: #45a049;
}

/*Forma de pagos*/

.pagos{
    width: 60%;
}

.pagos_botones {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.pagos_botones button {
    background-color: #008CBA;
    color: white;
    padding: 8px 10px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.pagos_botones button:hover {
    background-color: #007B9A;
}

/*Lista de productos*/

.list_button {
    display: flex;
    align-items: center;
    gap: 20px;
}	

.lista {
    margin: 20px 0;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    overflow-y: auto; /* Agrega una barra de desplazamiento vertical cuando sea necesario */
    max-height: 300px;
}

.lista h2 {
    color: #333;
    font-size: 24px;
}

.lista ul {
  list-style-type: none;
}

.lista ul li { 
    /* Reducir el padding para disminuir la separación */
    border-bottom: 1px solid #ddd;
    font-size: 17px;
}

.lista ul li:last-child {
  border-bottom: none;
}
.lista p {
  font-size: 20px;
  font-weight: bold;
  color: #333;
  margin-top: 10px;
}
.total {
  font-weight: bold;
  background-color: #f8f9fa;
}

.eliminarlista button {
    background-color: #dc3545; /* Color de fondo */
    color: white; /* Color del texto */
    border: none; /* Quitar el borde */
    padding: 5px 8px; /* Espacio alrededor del texto */
    border-radius: 4px; /* Borde redondeado */
    cursor: pointer; /* Cursor al pasar por encima */
}

.eliminarlista button:hover {
    background-color: #c82333; /* Color de fondo al pasar por encima */
}