body {
    font-family: Arial, sans-serif;
    font-style: normal;
    margin: 0;
    padding: 0;
}

.container_crud {
    display: flex;
    width: 100%;
    /* Altura mínima del contenedor (altura de la pantalla - altura del navbar) */
    padding: 0px, 0px;
    /*align-items: center;
    justify-content: center;*/
    gap: 10px;
    font-family: "Nunito", sans-serif;
    font-weight: bold;
}

.columna_1 {
    /*background-color: aqua;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 23%;
    min-height: calc(100vh - 55px);
    border-right: 3px solid #ababab;
    /* Ocupa el 30% del espacio disponible, pero no puede crecer ni encogerse */
}

.content_col1{
    padding: 10px;
}

.search {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

input[type="text"] {
    border: 1px solid #ccc;
    /* Borde del campo de entrada */
    border-radius: 5px;
    /* Bordes redondeados */
    outline: none;
    /* Elimina el contorno al enfocar */
}

#filter {
    border: none;
    /* Sin borde */
    background-color: #383939;
    /* Color de fondo del botón */
    color: #fff;
    /* Color del texto del botón */
    border-radius: 3px;
    /* Bordes redondeados */
    cursor: pointer;
    /* Cambia el cursor al pasar por encima */
}

#filter:hover {
    background-color: rgb(173, 173, 173);
    color: #383939;
    /* Color de fondo del botón al pasar por encima */
}

.title {
    text-align: center;
    font-size: medium;
}

.category-item {
    margin-bottom: 20px;
    /* Espacio entre categorías */
}

.category-button {
    border: 1px solid #ccc;
    /* Borde del botón */
    background-color: #f0f0f0;
    /* Color de fondo del botón */
    padding: 10px;
    /* Espaciado interno */
    border-radius: 5px;
    /* Bordes redondeados */
    cursor: pointer;
    /* Cambia el cursor al pasar por encima */
    margin-right: 10px;
    /* Espacio a la derecha del botón */
    margin-bottom: 10px;
    /* Espacio debajo del botón */
}

.category-button:hover {
    background-color: #e0e0e0;
    /* Color de fondo del botón al pasar por encima */
}

.product-count {
    color: #888;
    /* Color del contador de productos */
}


/*COLUMNA_2*/

.columna_2-wrapper {
    width: 79%;
    min-height: calc(100vh - 55px); /* Altura mínima de la columna_2 */
    max-height: calc(100vh - 55px); /* Altura máxima de la columna_2 */
    overflow-y: auto; /* Habilita el desplazamiento vertical solo cuando sea necesario */

}

.columna_2{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row {
    display: flex;
    justify-content: center;
    width: 100%;
    clear: both;
    /* Limpia los flotadores para comenzar una nueva fila */
    gap: 10px;
    max-width: calc(100% - 40px); /* Establece el ancho máximo */
}

.product-container {
    /*border: 1px solid black;*/
    width: 20%;
    margin: 5%;
    /* Establece el ancho de cada contenedor de producto */
}

.descripcion{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-availability{
    margin-top: -5px;
    margin-bottom: -1px;
}

.product-price{
    margin-bottom: -1px;
}

.product-name{
    margin-top: 2px;
    font-size: medium;
    text-align: center;
}
