.container_crear_categorias {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 55px); /* Altura mínima de la columna_2 */
    max-height: calc(100vh - 55px);
    width: 100%;
    gap: 30px;
     /* Ajusta la altura según sea necesario */
}

.container_crear_companias h1 {
    margin-bottom: 20px;
}

.tablacategoria {
    width: 50%; /* Ancho de la tabla */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.tablacategoria table {
    width: 80%;
    border-collapse: collapse;
}

.tablacategoria th,
.tablacategoria td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.tablacategoria th {
    background-color: #f2f2f2;
}

.formulario {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 40%; /* Ancho del formulario */
}

.formulario form {
    width: 200%;
}

.formulario input[type="text"] {
    width: 100%; /* Ajuste para compensar el padding */
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

.container_button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}	

.formulario button {
    width: 70%;
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
}

.formulario button:hover {
    background-color: #45a049;
}
