body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f8f8f8; /* Fondo principal */
}

.background-image {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('/img/istockphoto-1438530555-1024x1024-transformed.jpeg');
    background-size: 100% 100%; /* La imagen de fondo se estirará para cubrir todo el contenedor */
    background-repeat: no-repeat; /* Evita la repetición de la imagen de fondo */
    background-position: center; /* La imagen se centrará horizontal y verticalmente */
    min-height: calc(100vh - 55px); /* Altura mínima del contenedor (altura de la pantalla - altura del navbar) */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.centered h1{
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 80px;
    text-align: center;
    color:rgb(253, 253, 253);
}