
.transferencia-container {
    width: 80%;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

.container-info {
    display: flex;
    width: 100%;
    gap: 20px;
}	

h2, h3 {
    color: #333;
    margin-bottom: 10px;
}

.qr-code {
    width: 48%;
    text-align: center;
    margin-bottom: 20px;
}

.form{
    width: 46%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.codigo-transferencia label, .codigo-transferencia input {
    display: block;
    margin-bottom: 10px;
}

.productos-seleccionados ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.productos-seleccionados ul li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    font-size: 18px;
}

.productos-seleccionados ul li:last-child {
    border-bottom: none;
}

.botones button {
    background-color: #4CAF50;
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 10px 2px;
    transition-duration: 0.4s;
}

.botones button:hover {
    background-color: #45a049;
}

.botones button[onclick="window.history.back()"] {
    background-color: red;
}

.botones button[onclick="window.history.back()"]:hover {
    background-color: darkred;
}
