<%- include('../partials/_header')%>
<div class="container_crud">
  <div class="columna_1">
    <div class="content_col1">
      <div class="search">
        <div>
          <input type="text" id="searchTerm" placeholder="Buscar producto..." />
          <!-- Campo de entrada para el término de búsqueda -->
          <button type="submit" id="filter">Buscar</button>
          <!-- Botón de búsqueda -->
        </div>
      </div>
      <h3 class="title">CATEGORIAS DE LOS PRODUCTOS</h3>
      <div class="list_product">
        <ul id="productList" class="product-list">
          <% categoria.forEach((vercat)=> { %>
          <li class="category-item">
            <button class="category-button" data-category-id="<%= vercat.id %>">
              <span class="category-name"> <%= vercat.nombre %> </span>
              <span class="product-count"
                >(Productos: <%= ver.filter((product)=> product.categoria_id ===
                vercat.id).length %>)</span
              >
            </button>
          </li>
          <% }) %>
        </ul>
      </div>
    </div>
  </div>
  <div class="columna_2-wrapper">
    <h2 style="text-align: center; margin-top: 20px;">PRODUCTOS DOÑA JUANA</h2>
    <div id="mostrar_productos"></div>
    <div class="columna_2">
      <% ver.forEach((product, index)=> { %>
      <% if (index % 3===0) { %>
      <div class="row">
        <% } %>
        <div class="product-container" data-category-id="<%= product.categoria_id %>">
          <div class="descripcion">
            <% if (product.imagen) { %>
            <div class="product-image">
              <img src="<%= product.imagen %>" alt="Producto" style="max-width: 100px; max-height: 100px; display: block; margin: 0 auto 10px;">
            </div>
            <% } else { %>
            <div class="product-image">
              <span style="display: block; margin: 0 auto 10px;">Sin imagen</span>
            </div>
            <% } %>
            <div class="product-details">
              <h4 class="product-name">
                <%= product.nombre %><br>Codigo: <%= product.codigo %>
              </h4>
              <% if (product.stock===0) { %>
              <p class="product-availability" style="color: red;">No disponible</p>
              <% } else { %>
              <p class="product-availability" style="color: green;">En stock (<%= product.stock %> unids)</p>
              <% } %>
              <% if (product.stock> 0) { %>
              <p class="product-price">Precio: <%= product.precio %></p>
              <% } %>
            </div>
          </div>
        </div>
        <% if ((index + 1) % 3===0 || index===ver.length - 1) { %>
      </div>
      <% } %>
      <% }) %>
    </div>
  </div>  
</div>

<script>
  // Filtrar productos por nombre
  $(document).ready(function () {
    var $originalProducts = $(".product-container").clone();
    var $columna2 = $(".columna_2");

    // Guardar una copia de las filas originales de la columna 2
    var $originalRows = $columna2.find(".row").clone();

    $("#filter").on("click", function () {
      addShowAllButton(); // Agregar el botón "Mostrar todo"
      var searchValue = $("#searchTerm").val().trim().toLowerCase();
      $columna2.empty(); // Limpiar la columna 2

      if (!searchValue) {
        // Restaurar las filas originales de la columna 2
        $originalRows.clone().appendTo($columna2);
        return; // Salir de la función si no hay término de búsqueda
      }

      var productsFound = 0;
      var $currentRow;

      $originalProducts.each(function (index) {
        var productName = $(this)
          .find(".product-name")
          .text()
          .trim()
          .toLowerCase();
        var matchesSearch = productName.includes(searchValue);

        if (matchesSearch) {
          // Crear una nueva fila cada cuarto producto encontrado
          if (productsFound % 3 === 0) {
            $currentRow = $("<div class='row'></div>").appendTo($columna2);
          }
          // Clonar y agregar el producto a la fila actual
          $(this).appendTo($currentRow);
          productsFound++;
        }
      });

      if (productsFound === 0) {
        // Mostrar un mensaje si no se encontraron productos
        $columna2.html("<p>No se encontraron productos.</p>");
      }
    });
  });

  // Filtrar productos por categoría
  $(document).ready(function () {
    var $originalProducts = $(".product-container").clone();
    var $columna2 = $(".columna_2");
    var $originalRows = $columna2.find(".row").clone();

    $(".category-button").on("click", function () {
      addShowAllButton(); // Agregar el botón "Mostrar todo"
      var categoryId = $(this).data("category-id");
      $columna2.empty(); // Limpiar la columna 2

      if (!categoryId) {
        // Restaurar las filas originales de la columna 2 si no hay categoría seleccionada
        $originalRows.clone().appendTo($columna2);
        return; // Salir de la función si no hay categoría seleccionada
      }

      var productsFound = 0;
      var $currentRow;

      $originalProducts.each(function (index) {
        var productCategoryId = $(this).data("category-id");

        if (productCategoryId === categoryId) {
          // Crear una nueva fila cada cuarto producto encontrado
          if (productsFound % 3 === 0) {
            $currentRow = $("<div class='row'></div>");
            $columna2.append($currentRow);
          }
          // Clonar y agregar el producto a la fila actual
          $(this).clone().appendTo($currentRow);
          productsFound++;
        }
      });

      if (productsFound === 0) {
        // Mostrar un mensaje si no se encontraron productos
        $columna2.html("<p>No se encontraron productos en esta categoría.</p>");
      }
    });
  });

  // Agregar el botón "Mostrar todo"
  function addShowAllButton() {
    var $originalProducts = $(".product-container").clone();
    var $columna2 = $(".columna_2");
    var $originalRows = $columna2.find(".row").clone();
    var $searchTerm = $("#searchTerm"); // Guardamos el campo de búsqueda en una variable

    $("#mostrar_productos").empty(); // Limpiar el contenedor de botones
    $("#mostrar_productos").append(
      '<button id="showAllButton">Mostrar todo</button>'
    );

    $("#showAllButton").on("click", function () {
      $columna2.empty(); // Limpiar la columna 2
      $originalRows.clone().appendTo($columna2); // Restaurar las filas originales
      $searchTerm.val(""); // Limpiar el campo de búsqueda
      $(this).remove(); // Eliminar el botón después de hacer clic en él
    });
  }
</script>
