<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tienda de Abarrotes "Doña Juana"</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/style_asistencia.css">
    <link rel="icon" type="image/x-icon" href="../img/shopping-store.png" sizes="100x100">
    <title>Document</title>
  </head>

  <body>
    <%- include('partials/_header') %>

    <h1 class="text-center">Registro de asistencia</h1>

    <div class="container">
      <div class="row-mt-5">
        <div class="alert alert-dismissible alert-success">
          <h1 id="clock" class="text-center"></h1>
        </div>
      </div>
    </div>
    <div class="text-center mt-3">
      <label for="employeeCode">Código de empleado:</label>
      <form id="registroForm" action="/asistencia" method="post">
        <div class="form-group">
          <input
            type="number"
            name="numero_contrato"
            placeholder="Ingrese su Codigo de Empleado"
            class="form-control"
          />
        </div>
        <button type="submit" class="btn btn-primary">Registrar</button>
      </form>
      <% if (empleado.length> 0) { %> <% empleado.forEach((ver)=> { %>
      <div class="notificacion_asistencia">
        <p style="font-weight: bold">
          <%= ver.nombre %> <%= ver.apellido_paterno %> <%= ver.apellido_materno
          %>
        </p>
        <p class="tipo_registro" style="color: rgb(16, 248, 4)">
          <%= tipoRegistro %> - <%= new Date().toLocaleTimeString([], {hour:
          '2-digit', minute:'2-digit', second: '2-digit'}) %>
        </p>
      </div>
      <% }) %> <% } %>
    </div>

    <script>
      function updateClock() {
        const now = new Date();
        const hours = now.getHours().toString().padStart(2, "0");
        const minutes = now.getMinutes().toString().padStart(2, "0");
        document.getElementById("clock").textContent = `${hours}:${minutes}`;
      }

      setInterval(updateClock, 1000); // Update every second
      updateClock(); // Initial update
    </script>
  </body>
</html>
