<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/style_crear_categoria.css">
    <link rel="icon" type="image/x-icon" href="../img/shopping-store.png" sizes="100x100">
    <title>Tienda de Abarrotes "Doña Juana"</title>
</head>

<body>
    <%- include('partials/_header') %>
        <div class="container_crear_categorias">
            <div class="tablacategoria">
                <h1>CATEGORIAS</h1>
                <table>
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Nombre</th>
                            <th>Descripcion</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if(data){ %>
                            <% for (var i=0; i< data.length;i++ ){ %>
                                <tr>
                                    <td>
                                        <%= (i+1) %>
                                    </td>
                                    <td>
                                        <%= data[i].nombre %>
                                    </td>
                                    <td>
                                        <%= data[i].descripcion %>
                                    </td>
                                    <td>
                                        <a href="/categoria/delete/<%= data[i].id%>" class="btn btn-danger">Eliminar</a>
                                        <a href="/categoria/update/<%= data[i].id%>" class="btn btn-info">Editar</a>
                                    </td>

                                </tr>
                                <% } %>
                                    <% } %>
                    </tbody>
                </table>
            </div>
            <div class="formulario">
                <div>
                    <form action="/categoria/add" method="post">

                        <div>
                            <input type="text" name="nombre" placeholder="Nombre" class="form-control">
                        </div>
                        <div>
                            <input type="text" name="descripcion" placeholder="Descripcion" class="form-control">
                        </div>
                        <div class="container_button">
                            <button type="submit">
                                Guardar Categoria
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
</body>

</html>