<%- include('partials/_header') %>
<h1>EDITAR COMPANIAS</h1>
<div class="conteiner mt-5">
    <div class="row">
        <div class="col-md-5">
            <div class="card">
                <div class="card-body">
                    <form action="/customer/update/<%= data.id %>" method="post">
                        <div class="form-group">
                            <input type="text"name="nombre" value="<%= data.nombre %>" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="text"name="nit" value="<%= data.nit %>" class="form-control">
                        </div>
                        <button type="submit" class="btn btn-primary">
                            Guardar
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>


