<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda de Abarrotes "Doña Juana"</title>
    <link rel="stylesheet" type="text/css" href="/styles_crear_compania.css">
    <link rel="icon" type="image/x-icon" href="../img/shopping-store.png" sizes="100x100">
</head>
<body>
<%- include('partials/_header') %>

    <div class="container_crear_companias">
        <div class="tablacompania">
            <h1 style="text-align: center;">COMPANIAS</h1>
            <table>
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nombre</th>
                        <th>NIT</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <% if(data){ %>
                        <% for (var i = 0; i< data.length;i++ ){ %>
                        <tr>
                            <td><%= (i+1) %></td>
                            <td><%= data[i].nombre %></td>
                            <td><%= data[i].nit %></td>
                            <td>
                                <a href="/customer/delete/<%= data[i].id%>" class="btn btn-danger">Eliminar</a>
                                <a href="/customer/update/<%= data[i].id%>" class="btn btn-info">Editar</a>
                            </td>
                            
                        </tr>
                    <% } %>
                    <% } %>
                </tbody>
            </table>
        </div>
        <div class="formulario">
            <div>
                <form action="/customer/add" method="post">
    
                    <div>
                        <input type="text"name="nombre" placeholder="Nombre" class="form-control">
                    </div>
                    <div>
                        <input type="text"name="nit" placeholder="NIT" class="form-control">
                    </div>
                    <div class="container_button">
                        <button type="submit">
                            Guardar Compania
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>


</body>
</html>


