<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <title>Tienda de Abarrotes "Doña Juana"</title>
    <link rel="stylesheet" type="text/css" href="/styles_ventas_dia.css" />
    <link rel="icon" type="image/x-icon" href="../img/shopping-store.png" sizes="100x100">
  </head>
  <body>
    <%- include('partials/_header')%>
    <div class="container_pdf">
      <div id="mostrar">
        <h1>ventas diarias</h1>
        <table>
          <tr>
            <th>producto</th>
            <th>cantidad vendida</th>
            <th>total de ventas</th>
          </tr>
          <% let totalVentas=0; %> <% ventas.forEach((venta)=> { const product =
          products.find(p => p.id === venta.producto_id); if (product) { %>
          <tr>
            <td><%= product.nombre %></td>
            <td><%= venta.cantidad_vendida %></td>
            <td><%= parseFloat(venta.total_ventas).toFixed(1) %></td>
          </tr>
          <% totalVentas +=venta.total_ventas; } }); %>
          <tr class="total">
            <td colspan="2">Total</td>
            <td><%= parseFloat(totalVentas).toFixed(1) %></td>
          </tr>
        </table>
      </div>

      <div id="ocultar">
        <button class="limpiar" onclick="window.location.href='/ventas/limpiar'">
          limpiar ventas diarias
        </button>
        <button id="generatePDFButton">Generar PDF</button>
      </div>
    </div>

    <script>
      document
        .getElementById("generatePDFButton")
        .addEventListener("click", async () => {
          const mostrarHTML = document.getElementById("mostrar").outerHTML;
          const ocultarHTML = document.getElementById("ocultar").outerHTML;

          const response = await fetch("/generar-pdf", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({
              html: mostrarHTML,
              ocultar: ocultarHTML,
            }),
          });

          if (response.ok) {
            const blob = await response.blob();
            const url = window.URL.createObjectURL(blob);
            const a = document.createElement("a");
            a.href = url;
            a.download = "ventas_diarias.pdf";
            document.body.appendChild(a);
            a.click();
            window.URL.revokeObjectURL(url);
            document.body.removeChild(a);
          } else {
            console.error("Error al generar el PDF");
          }
        });
    </script>
</body>
</html>
