<%- include('partials/_header') %>
<h1>EDITAR EMPLEADOS</h1>
<div class="conteiner mt-5">
    <div class="row">
        <div class="col-md-5">
            <div class="card">
                <div class="card-body">
                    <form action="/empleado/update/<%= data.id %>" method="post">
                        <div class="form-group">
                            <input type="text"name="nombre" value="<%= data.nombre %>" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="text"name="apellido_paterno" value="<%= data.apellido_paterno %>" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="text"name="apellido_materno" value="<%= data.apellido_materno %>" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="number"name="numero_contrato" value="<%= data.numero_contrato %>" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="date"name="fecha_contrato" value="<%= data.fecha_contrato %>" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="time"name="horario_entrada" value="<%= data.horario_entrada %>" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="time"name="horario_salida" value="<%= data.horario_salida %>" class="form-control">
                        </div>
                        <button type="submit" class="btn btn-primary">
                            Guardar
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
