<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tienda de Abarrotes "Doña Juana"</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/style_factura.css"> <!-- Styles para la transferencia por efectivo -->
    <link rel="icon" type="image/x-icon" href="../img/shopping-store.png" sizes="100x100">
    
</head>
<body>
    <%- include('partials/_header')%>
    <div class="factura-container">
        <form id="facturaForm" action="/ventas/efect" method="post">
            <h2>Factura</h2>
            <div class="productos">
                <ul>
                    <% products.forEach((product)=> { %>
                        <li>
                            <%= product.nombre %> - Cantidad: <%= product.cantidad %> - Precio: <%= product.precio %>
                        </li>
                    <% }); %>
                </ul>
            </div>
            <div class="total">
                <p>Total: <%= totalPrice %></p>
            </div>
            <button type="submit">Pagar</button>
        </form>
        <button onclick="window.history.back()" style="background-color: red;">Volver</button>
    </div>
    
    <script>
        document.getElementById("facturaForm").addEventListener("submit", function(event) {
    
            setTimeout(function() {
                window.location.reload();
            }, 1000); // Recargar la página después de 1 segundo (1000 milisegundos)
        });
    </script>
</body>
</html>
   
        

