<%- include('partials/_header') %>

<h1 class="text-center">Informe de Asistencia</h1>

<form  action="/" method="get" class="text-center mt-3">
    <label>Selecciona una fecha:</label>
    <input type="date" name="fecha">
    <button id="btn-generar-informe" type="submit" class="btn btn-primary">Generar Informe</button>
</form>

<div class="container mt-3">
    <div class="row justify-content-center">
        <div class="col-md-7">
            <table id="tabla-informe" class="table table-bordered table-hover" >
                <thead> 
                    <tr>
                        <th>#</th>
                        <th>Nombre</th>
                        <th>Apellido Paterno</th>
                        <th>Apellido Materno</th>
                        <th>Hora de Entrada</th>
                        <th>Hora de Salida</th>
                    </tr>
                </thead>
                <tbody>
                    <% if(data && data.length > 0){ %>
                        <% for (var i = 0; i < data.length; i++){ %>
                            <tr>
                                <td><%= (i+1) %></td>
                                <td><%= data[i].nombre %></td>
                                <td><%= data[i].apellido_paterno %></td>
                                <td><%= data[i].apellido_materno %></td>
                                <td><%= data[i].hora_entrada %></td>
                                <td><%= data[i].hora_salida %></td>
                            </tr>
                        <% } %>
                    <% } else { %>
                        <tr>
                            <td colspan="6" class="text-center">No hay datos disponibles</td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
    </div>
    <div class="text-center mt-3">
        <button id="btn-imprimir-pdf" class="btn btn-success">Imprimir PDF</button>
    </div>
</div>

<%- include('partials/_footer') %>