<%- include('partials/_header') %>

<h1 class="text-center">Informe de Asistencia</h1>

<form  action="/informe_asistencia/list" method="get" class="text-center mt-3">
    <label>Selecciona una fecha:</label>
    <input type="date" name="fecha">
    <button id="btn-generar-informe" type="submit" class="btn btn-primary">Generar Informe</button>
</form>


<%- include('partials/_footer') %>

