<!-- principal.ejs -->
<%- include('partials/_header') %>

<div class="container mt-5">
<<<<<<< HEAD
    <h1>Bienvenido a la Aplicación</h1>
    <div class="row" >
       
        <div class="col-md-4">
            <a href="/productos" class="btn btn-info btn-lg btn-block" >Producto</a>
        </div>
        <div class="col-md-4">
            <a href="/ventas" class="btn btn-info btn-lg btn-block" >ventas</a>
        </div>
        <div class="col-md-4">
            <a href="/asistencia" class="btn btn-info btn-lg btn-block">asistencia</a>
        </div>
        <div class="col-md-4">
            <a href="/informe_asistencia" class="btn btn-warning btn-lg btn-block" >Informe Asistencia</a>
        </div>
        <div class="col-md-4">
            <a href="/Lista_productos" class="btn btn-info btn-lg btn-block">Lista de productos</a>
        </div>
=======
  <h1>Bienvenido a la Aplicación</h1>
  <div class="row">
    <div class="col-md-4">
      <a
        href="/customer"
        class="btn btn-primary btn-lg btn-block"
       
        >Compania</a
      >
>>>>>>> 4f28020e8c8cf7f1fb177e2012f45712e6cb4748
    </div>
    <div class="col-md-4">
      <a
        href="/categoria"
        class="btn btn-success btn-lg btn-block"
        
        >Categoria</a
      >
    </div>
    <div class="col-md-4">
      <a
        href="/productos"
        class="btn btn-info btn-lg btn-block"
    
        >Producto</a
      >
    </div>
    <div class="col-md-4">
      <a
        href="/ventas"
        class="btn btn-info btn-lg btn-block"
        
        >ventas</a
      >
    </div>
    <div class="col-md-4">
      <a href="/asistencia" class="btn btn-info btn-lg btn-block">asistencia</a>
    </div>
    <div class="col-md-4">
      <a
        href="/informe_asistencia"
        class="btn btn-warning btn-lg btn-block"
      
        >Informe Asistencia</a
      >
    </div>
    <div class="col-md-4">
      <a href="/Lista_productos" class="btn btn-info btn-lg btn-block"
        >Lista de productos</a
      >
    </div>
  </div>
</div>
<%- include('./partials/_footer') %>
