<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Tienda de Abarrotes "Doña Juana"</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="styles_crear_producto.css">
    <link rel="icon" type="image/x-icon" href="../img/shopping-store.png" sizes="100x100">
</head>

<body>
    <%- include('partials/_header') %>
        <div class="container_crear_producto" style="overflow-y: auto; max-height: 400px;">
            <div style="margin-top: 10%;">
                <h1>Registro Productos</h1>
            </div>
            <div>
                <div>
                    <div>
                        <div>
                            <div>
                                <form action="/productos/add" method="post" enctype="multipart/form-data">
                                    <div>
                                        <label for="Nombre">Nombre:</label>
                                        <input type="text" name="nombre" placeholder="nombre" class="form-control" />
                                    </div>
                                    <div>
                                        <label for="fabricante">Fabricante:</label>
                                        <select name="fabricante_id" id="fabricanteSelect" class="form-control">
                                            <% if (fabricantes) { %>
                                                <% for (var i=0; i < fabricantes.length; i++) { %>
                                                    <option value="<%= fabricantes[i].id %>">
                                                        <%= fabricantes[i].nombre %>
                                                    </option>
                                                    <% } %>
                                                        <% } %>
                                                            <option value="add">Añadir</option>
                                        </select>
                                    </div>
                                    <div>
                                        <label for="categoria">Categoría:</label>
                                        <select name="categoria_id" id="categoriaSelect" class="form-control">
                                            <% if (categorias) { %>
                                                <% for (var i=0; i < categorias.length; i++) { %>
                                                    <option value="<%= categorias[i].id %>">
                                                        <%= categorias[i].nombre %>
                                                    </option>
                                                    <% } %>
                                                        <% } %>
                                                            <option value="add">Añadir</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="imagen">Imagen:</label>
                                        <input type="file" name="imagen" class="form-control-file" />
                                    </div>
                                    <div>
                                        <label for="precio">Precio:</label>
                                        <input type="text" name="precio" placeholder="precio" class="form-control" />
                                    </div>
                                    <div>
                                        <label for="Cantidad">Cantidad:</label>
                                        <input type="text" name="stock" placeholder="Cantidad" class="form-control" />
                                    </div>
                                    <button type="submit">Registrar Producto</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script>
            document
                .getElementById("fabricanteSelect")
                .addEventListener("change", function () {
                    if (this.value === "add") {
                        window.location.href = "/customer";
                    }
                });

            document
                .getElementById("categoriaSelect")
                .addEventListener("change", function () {
                    if (this.value === "add") {
                        window.location.href = "/categoria";
                    }
                });
        </script>
</body>

</html>