<%- include('partials/_header') %>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-5">
            <div class="card">
                <div class="card-body">
                    <form action="/productos/update/<%= data.id %>" method="post">
                        <div class="form-group">
                            <label for="nombre">Nombre:</label>
                            <input type="text" name="nombre" value="<%= data.nombre %>" class="form-control" placeholder="Nombre">
                        </div>
                        <div class="form-group">
                            <label for="fabricante">Fabricante:</label>
                            <select name="fabricante_id" class="form-control">
                                <% for (var i = 0; i < fabricantes.length; i++) { %>
                                    <option value="<%= fabricantes[i].id %>" <%= data.fabricante_id == fabricantes[i].id ? 'selected' : '' %>><%= fabricantes[i].nombre %></option>
                                <% } %>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="categoria">Categoría:</label>
                            <select name="categoria_id" class="form-control">
                                <% for (var i = 0; i < categorias.length; i++) { %>
                                    <option value="<%= categorias[i].id %>" <%= data.categoria_id == categorias[i].id ? 'selected' : '' %>><%= categorias[i].nombre %></option>
                                <% } %>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="precio">Precio:</label>
                            <input type="text" name="precio" value="<%= data.precio %>" class="form-control" placeholder="Precio">
                        </div>
                        <div class="form-group">
                            <label for="stock">Stock:</label>
                            <input type="text" name="stock" value="<%= data.stock %>" class="form-control" placeholder="Stock">
                        </div>
                        <div class="form-group">
                            <label for="fecha_vencimiento">Fecha de Vencimiento:</label>
                            <input type="date" name="fecha_vencimiento" value="<%= data.fecha_vencimiento %>" class="form-control" >
                        </div>
                        <div class="form-group">
                            <label for="descripcion">Descripcion:</label>
                            <input type="text" name="descripcion" value="<%= data.descripcion %>" class="form-control" placeholder="Descripcion">
                        </div>
                        <button type="submit" class="btn btn-primary">Editar Producto</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


