<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Tienda de Abarrotes "Doña Juana"</title>
  <link rel="icon" type="image/x-icon" href="../img/shopping-store.png" sizes="100x100">
  <link rel="stylesheet" type="text/css" href="/styles.css" />
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
  <%- include('partials/_header') %>
    <div class="read">
      <div class="venta">
        <h1 style="text-align: center; margin-top: 20px;">Ventas</h1>
        <form id="sellForm" action="/ventas" method="post">
          <label for="productName">Producto:</label>
          <input type="text" id="productName" name="productName" placeholder="Ingrese nombre o codigo de producto"
            required /><br /><br />
          <label for="amount">Cantidad:</label>
          <input type="number" id="amount" name="amount" placeholder="Ingrese cantidad" required /><br /><br />
          <button type="submit" class="button-vender">Agregar</button>
        </form>
      </div>
      <div class="pagos">
        <div class="pacientes">
          <% results.forEach((product)=> { %>
            <% if (product.stock <=10) { %>
              <div class="alert-container">
                <div class="alert">
                  <span class="closebtn" onclick="this.parentElement.style.display='none';">×</span>
                  <p>
                    ¡Alerta! El producto <%= product.nombre %> tiene niveles de
                      existencia bajos (<%= product.stock %>)
                  </p>
                </div>
              </div>
              <% } %>
                <% }) %>
        </div>
        <div id="lista" class="lista">
          <h2>Productos Agregados:</h2>
          <ul>
            <% products.forEach((product, index)=> { %>
              <li>
                <div class="list_button">
                  <div>
                    <%= product.nombre %> - Cantidad: <%= product.cantidad %> - Precio: <%= product.precio %>
                  </div>
                  <div class="eliminarlista">
                    <form id="deleteForm_<%= index %>" action="/ventas/delete" method="post">
                      <input type="hidden" name="_method" value="DELETE">
                      <input type="hidden" name="productIndexToDelete" value="<%= index %>">
                      <button type="submit"
                        onclick="return confirm('¿Estás seguro de que quieres eliminar el producto <%= product.nombre %>?')">Eliminar</button>
                    </form>
                  </div>
                </div>
              </li>
              <% }); %>
          </ul>
          <p>Total: <%= totalPrice %>
          </p>
        </div>
        <h1 style="text-align: center;">Selección de Forma de Pago</h1>
        <div class="pagos_botones">
          <button onclick="window.location.href='/ventas/efect'">
            Pagar en Efectivo
          </button>
          <button onclick="window.location.href='/ventas/pago_transferencia'">
            Pagar por Transferencia
          </button>
          <% if (rol===1) { %>
            <button onclick="window.location.href='/ventas/v_diarias'">
              Ver ventas diarias
            </button>
            <% } %>
        </div>
      </div>
    </div>
    <script>
      //Recargar la página después de enviar el formulario
      document.getElementById("sellForm").addEventListener("submit", function (event) {
        setTimeout(function () {
          window.location.reload();
        }, 1000);
      });

    </script>
</body>

</html>