<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Tienda de Abarrotes "Doña Juana"</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../img/shopping-store.png" sizes="100x100">
    <link rel="stylesheet" type="text/css" href="/style_crear_categoria.css">
    <title>Document</title>
</head>

<body>
    <%- include('partials/_header') %>
    <div class="container_crear_categorias">
        <div class="tablacategoria">
            <h1>EMPLEADOS</h1>
            <table>
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nombre</th>
                        <th>Aplellido paterno</th>
                        <th>Apellido materno</th>
                        <th>Numero de contrato</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody style="align-items: center;">
                    <% if(data){ %>
                        <% for (var i=0; i< data.length;i++ ){ %>
                            <tr>
                                <td>
                                    <%= (i+1) %>
                                </td>
                                <td>
                                    <%= data[i].nombre %>
                                </td>
                                <td>
                                    <%= data[i].apellido_paterno %>
                                </td>
                                <td>
                                    <%= data[i].apellido_materno %>
                                </td>
                                <td>
                                    <%= data[i].numero_contrato %>
                                </td>
                                <td>
                                    <div style="display: flex; flex-direction: column; justify-content: center;">
                                        <a href="/empleado/delete/<%= data[i].id%>" class="btn btn-danger">Eliminar</a>
                                        <a href="/empleado/update/<%= data[i].id%>" class="btn btn-info">Editar</a>
                                    </div>
                                </td>

                            </tr>
                            <% } %>
                                <% } %>
                </tbody>
            </table>
        </div>
        <div class="formulario">
            <div>
                <form action="/empleado/add" method="post">

                    <div>
                        <input type="text" name="nombre" placeholder="Nombre" class="form-control">
                    </div>
                    <div>
                        <input type="text" name="apellido_paterno" placeholder="Apellido Paterno" class="form-control">
                    </div>
                    <div>
                        <input type="text" name="apellido_materno" placeholder="Apellido Materno" class="form-control">
                    </div>
                    <div>
                        <input type="number" name="numero_contrato" placeholder="Numero de contrato" class="form-control">
                    </div>
                    <div><br>
                        <input type="date" name="fecha_contrato" class="form-control">
                    </div><br>
                    <div>
                        <input type="time" name="horario_entrada"  class="form-control">
                    </div>
                    <div><br>
                        <input type="time" name="horario_salida" class="form-control">
                    </div><br>
                    <div class="container_button">
                        <button type="submit">
                            Guardar Empleado
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</body>

</html>