<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Tienda de Abarrotes "Doña Juana"</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/styles_actualizar_stock.css">
    <link rel="icon" type="image/x-icon" href="../img/shopping-store.png" sizes="100x100">
</head>

<body>
    <%- include('partials/_header')%>
        <div class="container_stock">
            <div class="columna_1">
                <div class="content_col1">
                    <div class="search">
                        <div>
                            <input type="text" id="searchTerm" placeholder="Buscar producto..." />
                            <!-- Campo de entrada para el término de búsqueda -->
                            <button type="submit" id="filter">Buscar</button> <!-- Botón de búsqueda -->
                        </div>
                    </div>
                    <h3 class="title">CATEGORIAS DE LOS PRODUCTOS</h3>
                    <div class="list_product">
                        <ul id="productList" class="product-list">
                            <% categoria.forEach((vercat)=> { %>
                                <li class="category-item">
                                    <button class="category-button" data-category-id="<%= vercat.id %>">
                                        <span class="category-name">
                                            <%= vercat.nombre %>
                                        </span>
                                        <span class="product-count">(Productos: <%= ver.filter((product)=>
                                                product.categoria_id === vercat.id).length %>)</span>
                                    </button>
                                </li>
                                <% }) %>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="columna_2">
                <div class="container-stock">
                    <div class="header">
                        <h1 class="title-stock">Actualizar stock de productos</h1>
                        <div id="mostrar_productos"></div>
                    </div>
                    <div class="content">
                        <div class="table-container">
                            <table class="stock-table">
                                <thead>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Actualizar stock</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% ver.forEach(product=> { %>
                                        <tr data-category-id="<%= product.categoria_id %>">
                                            <td>
                                                <%= product.nombre %>
                                            </td>
                                            <td>
                                                <form action="/stock/update/<%= product.id %>" method="post" class="product-form">
                                                    <input type="number" name="stock" class="cantidad-stock">
                                                    <button type="submit"
                                                    class="btn btn-info update-btn">Actualizar</button>
                                                </form>
                                            </td>
                                        </tr>
                                        <% }); %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <script>
            //BUSCADOR DE PRODUCTOS
            $(document).ready(function () {
                var $originalRows = $(".stock-table tbody tr").clone();
                var $tableBody = $(".stock-table tbody");

                $("#filter").on("click", function () {
                    addShowAllButton();
                    var searchValue = $("#searchTerm").val().trim().toLowerCase();
                    $tableBody.empty(); // Limpiar el cuerpo de la tabla

                    if (!searchValue) {
                        // Restaurar las filas originales
                        $originalRows.clone().appendTo($tableBody);
                        return; // Salir de la función si no hay término de búsqueda
                    }

                    var productsFound = 0;

                    $originalRows.each(function () {
                        var productName = $(this).find("td:first-child").text().trim().toLowerCase();
                        var matchesSearch = productName.includes(searchValue);

                        if (matchesSearch) {
                            $(this).appendTo($tableBody);
                            productsFound++;
                        }
                    });

                    if (productsFound === 0) {
                        $tableBody.html("<tr><td colspan='3'>No se encontraron productos.</td></tr>");
                    }
                });
            });

            //BUSCADOR POR CATEGORIAS
            $(document).ready(function () {

                var $originalRows = $(".stock-table tbody tr").clone();
                var $tableBody = $(".stock-table tbody");

                $(".category-button").on("click", function () {
                    addShowAllButton();
                    var categoryId = $(this).data("category-id");
                    $tableBody.empty(); // Limpiar el cuerpo de la tabla

                    if (!categoryId) {
                        // Restaurar las filas originales si no hay categoría seleccionada
                        $originalRows.clone().appendTo($tableBody);
                        return; // Salir de la función si no hay categoría seleccionada
                    }

                    var productsFound = 0;

                    $originalRows.each(function () {
                        var productCategoryId = $(this).data("category-id");

                        if (productCategoryId === categoryId) {
                            $(this).appendTo($tableBody);
                            productsFound++;
                        }
                    });

                    if (productsFound === 0) {
                        // Mostrar un mensaje si no se encontraron productos en esta categoría
                        $tableBody.html("<tr><td colspan='3'>No se encontraron productos en esta categoría.</td></tr>");
                    }
                });
            });

            //BOTON MOSTRAR TODO
            function addShowAllButton() {
                var $originalRows = $(".stock-table tbody tr").clone();
                var $tableBody = $(".stock-table tbody");

                $("#mostrar_productos").empty(); // Limpiar el contenedor de botones
                $("#mostrar_productos").append('<button id="showAllButton">Mostrar todo</button>');

                $("#mostrar_productos").on("click", "#showAllButton", function () {
                    location.reload();
                });
            }
        </script>
</body>

</html>