<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tienda de Abarrotes "Doña Juana"</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/style_transfer.css"> <!-- Styles para la transferencia por QR -->
    <link rel="icon" type="image/x-icon" href="../img/shopping-store.png" sizes="100x100">
</head>
<body>
    <%- include('partials/_header')%>
    <div class="transferencia-container">
        <h2>Factura</h2>
        <div class="container-info">
            <div class="qr-code">
                <img src="../img/photo_2024-02-28_03-38-42.jpg" alt="Código QR" width="270px" height="300px"><br>
            </div>
            <div class="form">
                <form id="facturaForm" action="/ventas/pago_transferencia" method="post">
                    <div class="codigo-transferencia">
                        <label for="codigo">Código de transferencia:</label>
                        <input type="text" id="codigo" name="codigo" required>
                    </div>
                    <div class="productos-seleccionados">
                        <h3>Productos Seleccionados:</h3>
                        <ul>
                            <% products.forEach(product => { %>
                                <li><%= product.nombre %> - Cantidad: <%= product.cantidad %> - Precio: <%= product.precio %></li>
                            <% }); %>
                        </ul>
                    </div>
                    <div class="botones">
                        <button type="submit">Pagar</button>
                        <button onclick="window.history.back()">Volver</button>
                    </div>
                </form>
            </div>
        </div>
    </div> 

    <script>
        document.getElementById("facturaForm").addEventListener("submit", function(event) {
    
            setTimeout(function() {
                window.location.reload();
            }, 1000); // Recargar la página después de 1 segundo (1000 milisegundos)
        });
    </script>
</body>
</html>
    
        

