<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda de Abarrotes "Doña Juana"</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Estilos personalizados -->
    <link rel="icon" type="image/x-icon" href="../img/shopping-store.png" sizes="100x100">
    <link rel="stylesheet" type="text/css" href="/styles_nav.css">
    <link rel="stylesheet" type="text/css" href="/styles_view_principal.css">
    <link rel="stylesheet" type="text/css" href="/style_crud_productos.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid header-container">
                <div class="d-flex" style="align-items: center;">
                    <a href="/home">
                        <i class="bi bi-shop store" style="font-size: 2em; color: white;"></i>
                    </a>
                    <% if (login) { %>
                        <a href="/logout" style="margin-left: 20px; color: white;">Cerrar sesión</a>
                    <% } %>
    
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item <% if (currentUrl === '/home') { %>active<% } %>" >
                            <a class="nav-link" href="/home">Inicio</a>
                        </li>
                        <li class="nav-item <% if (currentUrl === '/Lista_productos') { %>active<% } %>">
                            <a class="nav-link" href="/Lista_productos">Producto</a>
                        </li>
                        <% if (rol === 1) { %>
                        <li class="nav-item <% if (currentUrl === '/stock') { %>active<% } %>">
                            <a class="nav-link" href="/stock">Compras</a>
                        </li>
                        <li class="nav-item <% if (currentUrl === '/productos') { %>active<% } %>">
                            <a class="nav-link" href="/productos">Agregar producto</a>
                        </li>
                        <li class="nav-item <% if (currentUrl === '/empleado') { %>active<% } %>">
                            <a class="nav-link" href="/empleado">Registro Empleado</a>
                        </li>
                        <% } %>
                        <li class="nav-item <% if (currentUrl === '/asistencia') { %>active<% } %>">
                            <a class="nav-link" href="/asistencia">Asistencia</a>
                        </li>
                        <li class="nav-item <% if (currentUrl === '/ventas') { %>active<% } %>">
                            <a class="nav-link" href="/ventas">Vender</a>
                        </li>
                        
                    </ul>
                </div>
            </div>
        </nav>
    </header>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        var currentUrl = window.location.pathname;
        // Encuentra el enlace correspondiente a la URL actual y agrega la clase 'active' a su contenedor <li>
        document.querySelectorAll('#navList .nav-item').forEach(function (navItem) {
            var link = navItem.querySelector('.nav-link');
            if (link.getAttribute('href') === currentUrl) {
                navItem.classList.add('active');
            }
        });
    </script>
</body>

</html>