<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda de Abarrotes "Doña Juana"</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="../img/shopping-store.png" sizes="100x100">
    <link rel="stylesheet" type="text/css" href="/style_login.css">
</head>
<body>

    <div class="container login-container">
        <!--<div class="centered">
            <h1>Tienda de Abarrotes "Doña Juana"</h1>
        </div>-->
        <div class="row">
            <div class="col-md-6 mx-auto">
                <div class="card card-login">
                    <h3 class="text-center">Inicio de Sesión</h3>
                    <form action="/login/home" method="post">
                        <div class="form-group">
                            <label for="user">Usuario: </label>
                            <input type="text" name="user" class="form-control" id="user" placeholder="Ingresa tu usuario" required>
                        </div>
                        <div class="form-group">
                            <label for="password">Contraseña: </label>
                            <input type="password" name="password" class="form-control" id="password" placeholder="Ingresa tu clave de acceso" required>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Ingresar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <% if(typeof alert !== 'undefined') { %>
        <script>
            Swal.fire({
                title: '<%= alertTitle %>',
                text: '<%= alertMessage %>',
                icon: '<%= alertIcon %>',
                showConfirmButton: '<%= showConfirmButton %>',
                timer: '<%= timer %>'
            }).then(() => {
                window.location.href ='/<%= ruta %>';
            })
        </script>
    <% } %>
</body>
</body>
</html>